<h3>Corgi Stream!!!</h3>
<h4 id="corgi-title" class="text-center">Loading...</h4>
<div id="big-corgi"></div>
<p id="corgi-description" class="text-center lead"></p>
<div class="text-center">
  <button id="next-button" onclick="nextCorgi('<%= next_corgi_path %>')">Loading...</button>
  <button id="auto-button" onclick="toggleAuto('<%= next_corgi_path %>')">Auto Corg!</button>
</div>


<script>
  setCorgi("<%= @corgi["link"] %>", "<%= raw j @corgi["title"] %>", "<%= raw j @corgi["description"] %>");

  $(document).ready(function () {
    if (window.corgiTimer) 
      clearInterval(window.corgiTimer);
  });
</script>
