body {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

header {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

main {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#big-corgi {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  position:relative;
  background: no-repeat;
  background-size: contain;
  background-position: center;
}
